html,
body {
    margin: 0px;
}

header {
    background-color: #EB8716;
    color: #fff;
    width: 98%;
    height: 200px;
    margin: 1%;
}

header h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sansserif;
    padding: 60px;
    font-size: 50px;
}

.wrapper {
    background-color: #90CEE8;
    width: 98%;
    height: 400px;
    margin: 1%;
}

.wrapper .page {
    width: 24%;
    height: 180px;
    background-color: #006F9E;
    display: inline-block;
    justify-content: center;
    align-content: center;
    margin: 0.4%;
}

button {
    background-color: #006F9E;
    color: #fff;
    width: 98%;
    height: 60px;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
}

.image_link {
    height: 160px;
    width: 18.5vw;
    margin: 2% 0 1% 10%;
}

.image_link:hover {
    filter: grayscale(70%);
}