body {
    overflow: hidden;
}

.profile_display_btn {
    position: fixed;
    top: 50%;
    left: 3%;
    transform: translate(-3%, -50%);

    width: 8vw;
    height: 64vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15%;

    border: 1px solid;
}

.profile_select_btn {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.profile_holder {
    position: absolute;
    top: 12%;
    left: 14%;

    width: 24vw;
    height: 72vh;

    border: 1px solid;

    opacity: 0;
    transform: translateY(15%);
    transition: opacity 0.5s ease, transform 0.5s ease;

    display: grid;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    grid-template-columns: max-content auto;
    grid-template-rows: auto max-content;
    color: rgb(255, 253, 253);
    padding: 1.5rem;


    &:before,
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border: 3px solid white;
    }

    &:before {
        grid-row: 1 / 2;
        border-right: none;
        border-bottom: none;
    }

    &:after {
        grid-row: 1 / span 2;
        border-left: none;
    }

    h2 {
		margin: 1rem 1rem -.5rem 0;
		font-family: 'Pragati Narrow', sans-serif;
		font-size: 1rem;
		max-width: 100%;
	}
}

#main_profile{
    background: #333 url(https://media1.tenor.com/m/epNMHGvRyHcAAAAd/gigachad-chad.gif) center;
    background-size: cover;
}

#sub_profile{
    background: #333 url(https://media1.tenor.com/m/3Sykma8la9gAAAAC/reze-tongue-out-reze-chainsaw-man-moving-her-head.gif) center;
    background-size: cover;
}

#logo{
    background: #333 url(https://media1.tenor.com/m/uk9xO0xpWoIAAAAC/burger-eating.gif) center;
    background-size: cover;
}

.profile_holder.show {
    opacity: 1;
    transform: translateX(0)
}

.card {
    position: absolute;
    top: 18%;
    left: 44%;

    width: 54vw;
    height: 64vh;

    border: 1px solid;

    opacity: 0;
    transform: translateX(15%);
    transition: opacity 0.5s ease, transform 0.5s ease;

    overflow: hidden;
}

.card.show {
    opacity: 1;
    transform: translateX(0);
}


h1 {
    position: absolute;
    top: 1%;
    left: 10%;
    transform: translate(-10%, -1%);
    border: 1px solid;

    width: 40vw;
    height: 12vh;
}

p1 {
    position: absolute;
    top: 64%;
    left: 40%;
    transform: translate(-40%, -64%);
    border: 1px solid;

    width: 48vw;
    height: 36vh;
}

.card_select_display {
    position: absolute;
    top: 95%;
    left: 92%;
    transform: translate(-92%, -95%);
    border: 1px solid;

    width: 40vw;
    height: 10vh;

}

.card_location {
    position: absolute;
    border: 1px solid;

    top: 60%;
    left: 30%;
    transform: translate(-30%, -60%);

    width: 20vw;
    height: 1vh;
}

.right_btn {
    position: absolute;

    top: 70%;
    left: 95%;
    transform: translate(-95%, -70%);

    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.left_btn {
    position: absolute;

    top: 70%;
    left: 80%;
    transform: translate(-80%, -70%);

    width: 50px;
    height: 50px;
    border-radius: 50%;
}